# Database Connection URL
DATABASE_URL=""

# Authentication Configs (NextAuth / Auth.js)
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

# Resend Email Integration Keys
RESEND_API_KEY=""
EMAIL_FROM="onboarding@resend.dev"
ADMIN_EMAIL="admin@manoyoga.com"

# Cloudinary Integration API Keys
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

